@use 'sass:color';
// Colors
$primary: #FDA214;
$primary-300: color.adjust($primary, $whiteness: 20%);

$secondary-100: #152938;
$secondary-200: #304859;
$secondary-300: #6395B8;
$secondary-400: #7191A5;
$secondary-500: #BCCED9;

$cloud-300: #F2F2F2;
$cloud-500: #FCFCFC;

$colors: (
    'primary': $primary,
    'primary-300': $primary-300,
    'secondary-100': $secondary-100,
    'secondary-200': $secondary-200,
    'secondary-300': $secondary-300,
    'secondary-400': $secondary-400,
    'cloud-500': $cloud-500,
)